.satu {font-style:italic;
	font-style: Helvetica;
	background-color: #99ff33;
	color:#990033;
}
.voli{width: 600px
	display:block;
		margin-left: auto;
	margin-right: auto
}
body{
	background-color: #990033;
}
.p1{
	color: #99ff33
}
.ttl{
	color:#ccff33
}
